.img-box .rotate {
  left: 10px;
  background: #fff;
  top: 10px;
}

.info-content .price {
  color: var(--secondary-color);
}
.info-content .price::before {
  content: "LE";
  position: absolute;
  font-size: 16px;
  bottom: 0;
  right: -25px;
}
.info-content .old-price {
  color: #a7a9ac;
  font-size: 16px;
}
.info-content .sale {
  background-color: var(--primary-color);
}